CovidDashboard/Connected Services/CovidService/CovidServiceLibrary.DataContract.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CovidServiceLibrary.DataContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CovidServiceLibrary.DataContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GlobalCases">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Global" nillable="true" type="tns:Global" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GlobalCases" nillable="true" type="tns:GlobalCases" />
  <xs:complexType name="Global">
    <xs:sequence>
      <xs:element minOccurs="0" name="NewConfirmed" type="xs:int" />
      <xs:element minOccurs="0" name="NewDeaths" type="xs:int" />
      <xs:element minOccurs="0" name="NewRecovered" type="xs:int" />
      <xs:element minOccurs="0" name="TotalConfirmed" type="xs:int" />
      <xs:element minOccurs="0" name="TotalDeaths" type="xs:int" />
      <xs:element minOccurs="0" name="TotalRecovered" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Global" nillable="true" type="tns:Global" />
  <xs:complexType name="ArrayOfCountryCaseByDate">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CountryCaseByDate" nillable="true" type="tns:CountryCaseByDate" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCountryCaseByDate" nillable="true" type="tns:ArrayOfCountryCaseByDate" />
  <xs:complexType name="CountryCaseByDate">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:int" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CityCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Confirmed" type="xs:int" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Deaths" type="xs:int" />
      <xs:element minOccurs="0" name="Lat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Lon" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Province" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Recovered" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountryCaseByDate" nillable="true" type="tns:CountryCaseByDate" />
  <xs:complexType name="ArrayOfCountry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Country" nillable="true" type="tns:Country" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCountry" nillable="true" type="tns:ArrayOfCountry" />
  <xs:complexType name="Country">
    <xs:sequence>
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISO2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Slug" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Country" nillable="true" type="tns:Country" />
</xs:schema>