CovidDashboard/Connected Services/CovidService/CovidServiceLibrary.DataContract.Parameters.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CovidServiceLibrary.DataContract.Parameters" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CovidServiceLibrary.DataContract.Parameters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GetByCountryLiveParamters">
    <xs:sequence>
      <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="From" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="To" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetByCountryLiveParamters" nillable="true" type="tns:GetByCountryLiveParamters" />
</xs:schema>